.nursery {
  /* background-image: url("../../istockphoto-955916008-170667a.jpg");
  background-size: contain;
  background-repeat: repeat;
  min-width: 80vw;
  min-height: 100vh;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
  /* justify-content: space-around; */
  /* padding: 1%;
  margin: 1%;  */
  min-width: 95%;
}

.videos {
  /* border-style: solid; */
  display: inline-block;
  padding: 2%;
  margin: 1%;
}

.twinkle {
  border-style: solid;
  padding: 1%;
}
.nurseryHeading {
  font-size: 2rem;
  border: black;
  border-width: thick;
  border-style: solid;
  border-radius: 8px;
  background-color: aquamarine;
}

.text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.insideButtons {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

/* .nurseryVideos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
} */

@media only screen and (max-width: 550px) and (orientation: portrait) {
  .nurseryHeading {
    font-size: 1.5rem;
    border: black;
    border-width: thick;
    border-style: solid;
    border-radius: 8px;
    background-color: aquamarine;
    padding: 2%;
  }
  .text {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
  }
}
