.stories {
  min-width: 95%;
}

.storiesTitle {
  font-size: 2.1rem;
  text-decoration: underline;
  border: black;
  border-width: thick;
  border-style: solid;
  border-radius: 8px;
  background-color: yellow;
}

.storiesIcons {
  font-size: 2rem;
}

.video {
  /* border-style: solid; */
  padding: 1%;
}

.storiesFacts {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1%;
  margin: 1%;
  border: black;
  border-width: thick;
  border-style: solid;
  border-radius: 8px;
  background-color: cornflowerblue;
}

.storiesText {
  font-size: 1.5rem;
  font-weight: 900;
}

.helperImages {
  width: 40%;
  height: auto;
}

@media only screen and (max-width: 550px) and (orientation: portrait) {
  .storiesFacts {
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
    border: black;
    border-width: thick;
    border-style: solid;
    border-radius: 8px;
    background-color: cornflowerblue;
  }

  .storiesText {
    font-size: 1rem;
    font-weight: 900;
  }

  .storiesTitle {
    font-size: 1.3rem;
    background-color: yellow;
  }

  .storiesIcons {
    font-size: 1.3rem;
  }

  .helperImages {
    width: 40%;
    height: auto;
  }
}
