.mickeyButton {
  color: black;
  background-color: white;
  border-color: black;
  border-style: groove;
  border-width: 0.2rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 700;
}

.mickeyHead {
  width: 5%;
  /* height: 1%; */
}

@media only screen and (max-width: 550px) and (orientation: portrait) {
  .mickeyButton {
    color: black;
    background-color: white;
    border-color: black;
    border-style: groove;
    border-width: 0.2rem;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 700;
  }
}
