.mickey {
  min-width: 95%;
}

.mickeyTitle {
  font-size: 2.1rem;
  /* text-decoration: underline; */
  border: black;
  border-width: thick;
  border-style: solid;
  border-radius: 8px;
  background-color: tomato;
  padding: 0.5%;
}

/* .icons {
  font-size: 2rem;
} */

.video {
  /* border-style: solid; */
  padding: 1%;
}

.mickeyFacts {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  /* padding: 1%; */
  margin: 1%;
  border: black;
  border-width: thick;
  border-style: solid;
  border-radius: 8px;
  background-color: lavender;
}
@media only screen and (max-width: 550px) and (orientation: portrait) {
  .mickeyFacts {
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    border: black;
    border-width: thick;
    border-style: solid;
    border-radius: 8px;
    background-color: lavender;
    /* padding: 1%; */
    /* margin: 1%; */
  }

  /* .text {
    font-size: 1rem;
    font-weight: 900;
  } */

  .mickeyTitle {
    font-size: 1.1rem;
    border: black;
    border-width: thick;
    border-style: solid;
    border-radius: 8px;
    background-color: tomato;
    padding: 0.5%;
  }

  /* .icons {
    font-size: 1.3rem;
  } */
}
