/* .mickey {
  min-width: 95%;
} */

.mickeyTimeline {
  min-width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  /* padding: 1%; */
  /* margin: 1%; */
}

.mickeyHeading {
  font-size: 2rem;
  border: black;
  border-width: thick;
  border-style: solid;
  border-radius: 8px;
  background-color: yellow;
  padding: 1%;
  margin: 1%;
}

.pageLinks {
  border: black;
  border-width: thick;
  border-style: solid;
  border-radius: 8px;
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
  padding: 5%;
  margin: 10%;
  background-color: beige;
}

.mickeyText {
  border: black;
  border-width: thick;
  border-style: solid;
  border-radius: 8px;
  background-color: cornflowerblue;
  margin: 1%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1%;
}

.mickeyEvo {
  width: 95%;
  height: auto;
}

@media only screen and (max-width: 550px) and (orientation: portrait) {
  .mickeyTimeline {
    min-width: 95%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
  }
  .mickeyHeading {
    font-size: 1.3rem;
    background-color: yellow;
  }
  .pageLinks {
    border: black;
    border-width: thick;
    border-style: solid;
    border-radius: 8px;
    font-size: 1.1rem;
    color: black;
    font-weight: 700;
    padding: 2%;
    margin: 3%;
    background-color: beige;
  }

  .mickeyText {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 1%;
    background-color: cornflowerblue;
  }

  .mickeyEvo {
    width: 95%;
    height: auto;
  }
}
